{% if testmode %}
<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ text_testmode }}</div>
{% endif %}
<form name="FormPagamento" id="FormPagamento" action="{{ action }}" method="post">
  <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}" />
  <input type="hidden" name="code" id="code" value="" />
  <input type="hidden" name="iot" value="button" />

  <div class="buttons">
    <div class="">
      <input type="submit" id="BotaoPagamento" value="{{ button_confirm }}" data-loading-text="{{ text_loading }}" class="btn btn-success btn-block" />
    </div>
  </div>
</form>
{% if mode_sandbox %}
<script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
{% else %}
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
{% endif %}
<script type="text/javascript">
var screenWidth = $(window).width();
console.log(screenWidth);
if(screenWidth > 960){
  console.log("Metodo: lightbox");
$('#BotaoPagamento').on('click',function(event){
  event.preventDefault();

  $.ajax({
    url: 'index.php?route=extension/payment/pagseguro_lightbox/send',
    type: 'POST',
    dataType:'text',
    beforeSend: function() {
      $('#BotaoPagamento').button('loading');
    },
    complete: function() {
      $('#BotaoPagamento').button('reset');
    },
    success:function(data){
      var code = data;

      var isOpenLightbox = PagSeguroLightbox({
        code: code
      },{
        success : function(transationCode){
          $.ajax({
            url: 'index.php?route=extension/payment/pagseguro_lightbox/confirm',
            type: 'POST',
            dataType: 'text',
            success: function (data) {
              console.log('redirect success');
              if(data == 'success'){
                window.location.href = 'index.php?route=checkout/success';
              }
            }
          });

        },
        abort : function(){
          console.log('transação cancelada');
        }
      });

      if(!isOpenLightbox){
        //location.href = "https://sandbox.pagseguro.uol.com.br/v2/checkout/payment.html?code="+code;
        //window.open('https://pagseguro.uol.com.br/v2/checkout/payment.html?code='+code, '_blank');
        //$('#code').val(code);
        //$('#FormPagamento').submit();
        console.log('Mobile: precisa habilitar o redirect');
      }    
    },
    error: function(error){
      console.log(error);
    }
  });
});
}else{
  console.log("Metodo: redirect");
  $('#FormPagamento').attr('action', 'https://pagseguro.uol.com.br/v2/checkout/payment.html');
  $('#BotaoPagamento').on('click',function(event){
    event.preventDefault();

    $.ajax({
    url: 'index.php?route=extension/payment/pagseguro_lightbox/send',
    type: 'POST',
    dataType:'text',
    beforeSend: function() {
      $('#BotaoPagamento').button('loading');
    },
    complete: function() {
      $('#BotaoPagamento').button('reset');
    },
    success:function(data){
          var code = data;
            $('#code').val(code);
            console.log(code);
            $('#FormPagamento').submit();
        }
    });
  });
}
</script>