{{ header }}
<div id="product-category" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<div class="heading-page">
				<h1 class="title">{{ heading_title }}</h1>
			</div>
			{% if thumb or description %}
				<div class="row">
					{% if thumb %}
						<div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail"/></div>
					{% endif %}
					{% if description %}
						<div class="col-sm-10">{{ description }}</div>
					{% endif %}
					<div class="col-sm-12">
						<hr>
					</div>
				</div>
			{% endif %}
			{% if categories %}
				<div class="sub-categories">
					<h4>{{ text_refine }}</h4>

					<div class="list-categories">
						<ul>
							{% for category in categories %}
								<li>
									<a href="{{ category.href }}">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}
			{% if products %}

				<div class="category-options">
					<div class="pull-right">
						<b>Exibir por:</b>
						<br>
						<div class="btn-group btn-group-sm">
							<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}">
								<i class="fa fa-th-list"></i>
								<span class="hidden-xs">Lista</span>
							</button>
							<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}">
								<i class="fa fa-th"></i>
								<span class="hidden-xs">Grade</span>
							</button>
						</div>
						<select id="input-limit" class="form-control select-quantity" onchange="location = this.value;" data-toggle="tooltip" title="Quantidade a exibir">
							{% for limits in limits %}
								{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
								{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="pull-right">
						<b>Ordenar por:</b>
						<br>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
								{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="pull-left">{{ results }}</div>
				</div>

				<div class="clearfix"></div>
				<div class="row">
					{% for product in products %}
						<div class="product-layout product-list col-xs-12">
							<div class="product-thumb transition">
								<div class="image">
									{% if product.valor_desconto %}
										<span class="badge badge-danger badge-desconto">{{product.valor_desconto}}%</span>
									{% endif %}
									<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive"/></a>
									<button type="button" class="btn-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
										<i class="fa fa-heart"></i>
									</button>
								</div>
								<div class="caption">
									<div class="titleprice">
										<h4>
											<a href="{{ product.href }}">{{ product.name }}</a>
										</h4>
										<div class="rating">
											{% if product.rating %}
												{% for i in 1..5 %}
													{% if product.rating < i %}
														<span class="fa fa-stack">
															<i class="fa fa-star-o fa-stack-2x"></i>
														</span>
													{% else %}
														<span class="fa fa-stack">
															<i class="fa fa-star fa-stack-2x"></i>
															<i class="fa fa-star-o fa-stack-2x"></i>
														</span>
													{% endif %}
												{% endfor %}
												{% if product.rating %}
													<span>({{ product.rating }})</span>
												{% endif %}
											{% else %}
												{% for i in 1..5 %}
													<span class="fa fa-stack">
														<i class="fa fa-star-o fa-stack-2x"></i>
													</span>
												{% endfor %}
												<span>(0)</span>
											{% endif %}
										</div>
										{% if not product.shipping %}
											<div class="shipping-grid">
												<img src="./_galerias/shipping/frete_gratis_gif.gif" alt="Frete Grátis" class="img-responsive">
											</div>
										{% endif %}
										{% if not product.quantity %}
											<div class="alert alert-danger alert-stock">Sem estoque</div>
										{% endif %}
									</div>
									<div class="buttonshipping">
										{% if product.price %}
											{% if product.price == 'R$ 0,00' %}
												<div class="price">
													<ul>
														<li>
															<span class="price-current">
																<small>Sob-consulta</small>
															</span>
														</li>
													</ul>
												</div>
											{% else %}
												<p>{{ product.parcelamento }}
													ou</p>
												<div class="price">
													<ul>
														{% if not product.special %}
															<li>
																<span class="price-current">{{ product.price }}</span>
															</li>
														{% else %}
															<li>
																<span class="price-old">{{ product.price }}</span>
															</li>
															<li>
																<span class="price-new">{{ product.special }}</span>
															</li>
														{% endif %}
													</ul>
												</div>
											{% endif %}
										{% endif %}

										<div class="button-group">
											<a href="{{ product.href }}">
												<span class="">{{ button_conferir }}</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- product-layout -->
					{% endfor %}
				</div>
				<div class="d-flex justify-content-center align-items-center custom-pagination">
					<div class="col-sm-6 text-left">{{ pagination }}</div>
					<div class="col-sm-6 text-right">{{ results }}</div>
				</div>
			{% endif %}
			{% if not categories and not products %}
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<div class="pull-right">
						<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
					</div>
				</div>
			{% endif %}
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
{{ footer }}
