<style type="text/css">

    .usable-creditcard-form .wrapper {
        border: 1px solid #CCC;
        border-top: 1px solid #AAA;
        border-right: 1px solid #AAA;
        height: 74px;
        width: 300px;
        position: relative;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-left: 0px;
    }
    .usable-creditcard-form .input-group {
        position: absolute;
        top: 300px;
    }
    .usable-creditcard-form .input-group.nmb_a {
        position: absolute;
        width: 200px;
        top: 0px;
        left: 0px;
    }
    .usable-creditcard-form .input-group.nmb_b {
        position: absolute;
        width: 100px;
        top: 0px;
        right: 0px;
    }
    .usable-creditcard-form .input-group.nmb_b input,
    .usable-creditcard-form .input-group.nmb_d input {
        text-align: center;
    }
    .usable-creditcard-form .input-group.nmb_c {
        position: absolute;
        width: 200px;
        top: 37px;
        left: 0px;
    }
    .usable-creditcard-form .input-group.nmb_d {
        position: absolute;
        width: 100px;
        top: 37px;
        right: 0px;
    }
    .usable-creditcard-form input {
        background: none;
        display: block;
        width: 100%;
        padding: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin:0px;
        padding-left: 35px;
        border: none;
    }

    .usable-creditcard-form .input-group .icon {
        position: absolute;
        width: 22px;
        height: 22px;
        background: #CCC;
        left: 8px;
        top: 7px;
    }
    .usable-creditcard-form .input-group.nmb_a input {
        border-right: 1px solid #ECECEC;
    }
    .usable-creditcard-form .input-group.nmb_c input {
        border-top: 1px solid #ECECEC;
        border-right: 1px solid #ECECEC;
    }

    .usable-creditcard-form input::-webkit-input-placeholder {
        font-size: 14px;
        text-transform: none;
    }
    .usable-creditcard-form .input-group.nmb_d input {
        border-top: 1px solid #ECECEC;
    }

    .usable-creditcard-form .input-group.nmb_c input {
        text-transform: uppercase;
    }
    .usable-creditcard-form .accept {
        color: #999;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .footer_img  {
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
    }

    .footer_img img {
        padding: 0px;
        margin: 0px;
    }
    .usable-creditcard-form .iugu-btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    /* Do not forget to store your images in a secure server */
    .usable-creditcard-form .input-group .icon.ccic-name {
        background: url("image/iugu/1.png") no-repeat;
    }
    .usable-creditcard-form .input-group .icon.ccic-exp {
        background: url("image/iugu/2.png") no-repeat;
    }
    .usable-creditcard-form .input-group .icon.ccic-brand {
        background: url("image/iugu/3.png") no-repeat;
    }
    .usable-creditcard-form .input-group .icon.ccic-cvv { background: url("image/iugu/4.png") no-repeat; }

    .usable-creditcard-form .input-group .icon.ccic-cvv,
    .usable-creditcard-form .input-group .icon.ccic-brand
    {
        -webkit-transition:background-position .2s ease-in;
        -moz-transition:background-position .2s ease-in;
        -o-transition:background-position .2s ease-in;
        transition:background-position .2s ease-in;
    }

    .amex .usable-creditcard-form .input-group .icon.ccic-cvv {
        background-position: 0px -22px;
    }

    .amex .usable-creditcard-form .input-group .icon.ccic-brand {
        background-position: 0px -110px;
    }

    .visa .usable-creditcard-form .input-group .icon.ccic-brand {
        background-position: 0px -22px;
    }

    .diners .usable-creditcard-form .input-group .icon.ccic-brand {
        background-position: 0px -88px;
    }

    .mastercard .usable-creditcard-form .input-group .icon.ccic-brand {
        background-position: 0px -66px;
    }

    #desconto_boleto {
        font-size: 16px;
        margin-bottom: 0px;
    }

    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #aviso_cartao {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .bg-info{
        padding: 20px;
    }

    .green{
        color:green;
    }

    .parcela{
        width:300px;
        margin-top: 10px;
    }

   .cpf {
        width: 300px !important;
        height: 30px !important;
        padding-left: 10px !important;
        border: 1px solid #CCCCCC !important;
    }
</style>
<div class="container-fluid">
    <div id="aviso_pagamento"></div>
    <div class="row">
        {% if conf.iugu_cartao == 1 and conf.iugu_minimo_cartao < total and conf.iugu_maximo_cartao > total %}
            <div class="col-xs-6 col-md-6 col-sm-12"><form id="payment-form"  action="" method="POST">
                    {% if cartao_salvo is not empty %}
                    <div id='cartao_novo' style="display:none;">
                        {% else %}
                        <div id='cartao_novo'>
                            {% endif %}
                            <div class="usable-creditcard-form">
                                <h3>{{ text_cartao }}</h3>
                                <div class="wrapper">
                                    <div class="input-group nmb_a">
                                        <div class="icon ccic-brand"></div>
                                        <input autocomplete="off" class="credit_card_number" data-iugu="number" placeholder="Número do Cartão" type="text" value="" />
                                    </div>
                                    <div class="input-group nmb_b">
                                        <div class="icon ccic-cvv"></div>
                                        <input autocomplete="off" class="credit_card_cvv" data-iugu="verification_value" placeholder="CVV" type="text" value="" />
                                    </div>
                                    <div class="input-group nmb_c">
                                        <div class="icon ccic-name"></div>
                                        <input class="credit_card_name" data-iugu="full_name" placeholder="Titular do Cartão" type="text" value="" />
                                    </div>
                                    <div class="input-group nmb_d">
                                        <div class="icon ccic-exp"></div>
                                        <input autocomplete="off" class="credit_card_expiration" data-iugu="expiration" placeholder="MM/AA" type="text" value="" />
                                    </div>
                                </div>
                                <div id="aviso_cartao"></div>

                                {{ cartao }}
                                <br><div class="form-group required "><label class="control-label">Confirmar CPF ou CNPJ do Títular do Cartão</label>
                                    <input class ="form-control cpf" id="cpf" name="cpf_iugu" placeholder="Informe o CPF ou CNPJ do Títular" type="text" value="{{ cpf }}" required />
                                </div>
                                <div class="footer_img">
                                    <img src="image/iugu/iugu_bandeiras.png" alt="Visa, Master, Diners. Amex" border="0" />
                                </div>
                            </div>
                            <input type="hidden" name="token" id="token" value="" readonly="true" size="64"/>
                            {% if salvar_cartao == 1 %}
                                <div class='checkbox'>
                                    <label> <input type='checkbox' name='salvar_cartao' value='1' checked> {{ text_salvar_dados }} </label></div>
                            {% endif %}




                            {% if cartao_salvo is not empty %}
                                <input id="novo_cartao1" type='checkbox' value='1'> {{ text_utilizar_cartao }} <br>
                            {% endif %}


                            <a id="button-confirm" class="btn btn-success btn-lg" data-loading-text="{{ text_wait }}"><span>{{ button_confirm }}</span></a>
                        </div>
                </form>
                {% if cartao_salvo is not empty %}
                    <form id="payment-form-salvo"  action="" method="POST">
                        <div id='cartao_salvo'>
                            {% set dados = cartao_salvo %}

                            <div class="usable-creditcard-form">
                                <div id='cartao'>{{ text_cartao }}</div>
                                <div class="wrapper">
                                    <div class="input-group nmb_a">
                                        <div class="icon ccic-brand"></div>
                                        <input autocomplete="off" class="credit_card_number" type="text" value="{{ dados.display_number }}"  readonly/>
                                    </div>
                                    <div class="input-group nmb_b">
                                        <div class="icon ccic-cvv"></div>
                                        <input autocomplete="off" class="credit_card_cvv" type="text" value="XXX"  readonly/>
                                    </div>
                                    <div class="input-group nmb_c">
                                        <div class="icon ccic-name"></div>
                                        <input class="credit_card_name" type="text" value="{{ dados.holder_name }}"  readonly/>
                                    </div>
                                    <div class="input-group nmb_d">
                                        <div class="icon ccic-exp"></div>
                                        <input autocomplete="off" class="credit_card_expiration" type="text" value="XX/XX"  readonly/>
                                    </div>
                                </div>
                                <div id="aviso_cartao"></div>

                                {{ cartao }}


                                <br><div class="form-group required "><label class="control-label">Confirmar CPF ou CNPJ do Títular do Cartão</label>
                                    <input class ="form-control cpf" id="cpf2" name="cpf_iugu" placeholder="Informe o CPF ou CNPJ do Títular" type="text" value="{{ cpf }}" required />
                                </div>
                                <div class="footer_img">
                                    <img src="image/iugu/iugu_bandeiras.png" alt="Visa, Master, Diners. Amex" border="0" />
                                </div>
                            </div>
                            <input type="hidden" name="id" value="{{ cartao_salvo.id }}" readonly="true" size="64"/>
                            <input id="novo_cartao" type='checkbox' value='1'>{{ text_novo_cartao }}
                            <br>
                            <a id="button-confirm_cartao_salvo" class="btn btn-success btn-lg" data-loading-text="{{ text_wait }}"><span>{{ button_confirm }}</span></a>
                        </div>
                    </form>
                {% endif %}
            </div>
        {% endif %} {%  if conf.iugu_boleto == 1 and conf.iugu_minimo_boleto < total and conf.iugu_maximo_boleto > total %}
            <div class="col-xs-4 col-md-4 col-sm-12">
                <h3>{{ text_boleto }}</h3>
                <div class="footer_img">
                    <img src="image/iugu/boleto.png" alt="Boleto" border="0" />
                </div>

                {% if desconto_boleto is not empty %}
                    <div id="desconto_boleto">
                        <b  style="color: rgb(0, 193, 0);">Desconto de R$ {{ desconto_boleto }}</b>
                        <br><b>Sub-total:</b> R$ {{ desconto_boleto_subtotal }}
                        <br><span style="font-size:14px;"><b>Total:</b> R$ {{ desconto_boleto_total }}</span>
                    </div>
                {% endif %}
                <form id="payment-form-boleto"  action="" method="POST">
                    <br><div class="form-group required "><label class="control-label">Confirmar CPF ou CNPJ do Títular do Cartão</label>
                        <input class ="form-control cpf" id="cpf_boleto" name="cpf_iugu_boleto" placeholder="Informe o CPF ou CNPJ do Títular" type="text" value="{{ cpf }}" required />
                    </div>
                </form>
                <a id="button-confirm_boleto" class="btn btn-success btn-lg" data-loading-text="{{ text_wait }}"><span>{{ button_confirm_boleto }}</span></a
            </div>
        {% endif %}
    </div>
</div>
</div>
<script type="text/javascript"><!--
    $("#novo_cartao").click(function(){
        if ($(this).is(":checked")) {
            $('#cartao_salvo').hide();
            $('#cartao_novo').show();
            $("#novo_cartao1").attr("checked",false);

        } else {
            $('#cartao_novo').hide();
            $('#cartao_salvo').show();
        }
    });

    $("#novo_cartao1").click(function(){
        if ($(this).is(":checked")) {
            $('#cartao_novo').hide();
            $('#cartao_salvo').show();
            $("#novo_cartao").attr("checked",false);
        }
    });
    $('#button-confirm_boleto').bind('click', function() {
        $("#button-confirm_boleto").button('loading');
        $.ajax({
            type: 'POST',
            contentType :'application/x-www-form-urlencoded; charset=utf-8',
            dataType: 'json',
            cache: false,
            timeout: 35000,
            url: 'index.php?route=extension/payment/code_iugu/confirm',
            data: $('#payment-form-boleto').serialize()+ '&' + $.param({'boleto' : true}),
            success: function(data) {
                console.log('Data: '+data);

                if (data.error == 6) {
                    $("#aviso_pagamento").html("<div class='alert alert-warning'>Informe o CPF ou CNPJ válido do Titular do Boleto! <button type='button' class='close' data-dismiss='alert'>×</button></div>");
                    $("#button-confirm_boleto").button('reset');
                } else  if (data.error == 5) {
                    $("#aviso_pagamento").html("{{ text_erro_pagamento }}");
                    $("#button-confirm_boleto").button('reset');
                    //console.log('Pagamento por Boleto Falhou ' + data);
                } else {
                    window.location = data.location;
                    // console.log('Pagamento por Boleto ' + data);
                }
            },
            error: function(){
                $("#aviso_pagamento").html("{{ text_erro_pagamento }}");
                $("#button-confirm_boleto").button('reset');
            }
        });
    });

    $('#button-confirm_cartao_salvo').bind('click', function() {
        $("#button-confirm_cartao_salvo").button('loading');
        $.ajax({
            type: 'POST',
            contentType :'application/x-www-form-urlencoded; charset=utf-8',
            dataType: 'json',
            cache: false,
            timeout: 35000,
            url: 'index.php?route=extension/payment/code_iugu/confirm',
            data: $('#payment-form-salvo').serialize()+ '&' + $.param({'usar_cartao_salvo' : 1}),
            success: function(data) {
                if (data.error == 6) {
                    $("#aviso_pagamento").html("<div class='alert alert-warning'>Informe o CPF ou CNPJ válido do Titular do Cartão! <button type='button' class='close' data-dismiss='alert'>×</button></div>");
                    $("#button-confirm_cartao_salvo").button('reset');
                } else if (data.error == 5) {
                    $("#aviso_pagamento").html("{{ text_erro_pagamento }}");
                    $("#button-confirm_cartao_salvo").button('reset');
                } else {
                    window.location = data.location;
                    //console.log('Pagamento por Cartão' + data);
                }
            },
            error: function(){
                $("#aviso_pagamento").html("{{ text_erro_pagamento }}");
                $("#button-confirm_cartao_salvo").button('reset');
            }
        });
    });
    $('#button-confirm').bind('click', function() {
        $("#payment-form").submit();
    });
    //--></script>

<script type="text/javascript" src="https://js.iugu.com/v2"></script>
<script type="text/javascript" src="catalog/view/javascript/code_iugu.js"></script>

<script>
    $( document ).ready(function() {
        //https://github.com/igorescobar/jQuery-Mask-Plugin/issues/611
        /*
        var options = {
            onKeyPress: function (cpf, e, field, options) {
                var masks = ['000.000.000-00?0', '00.000.000/0000-00'],
                    mask = (cpf.length > 14) ? masks[1] : masks[0];
                $('#cpf').mask(mask, options);
            }
        };

        $('#cpf').mask('000.000.000-00?0', options);

        var options_boleto = {
            onKeyPress: function (cpf_boleto, e_boleto, field_boleto, options_boleto) {
                var masks_boleto = ['000.000.000-00?0', '00.000.000/0000-00'],
                    mask_boleto = (cpf_boleto.length > 14) ? masks_boleto[1] : masks_boleto[0];
                $('#cpf_boleto').mask(mask_boleto, options_boleto);
            }
        };

        $('#cpf_boleto').mask('000.000.000-00?0', options_boleto);
        */

         $( "#cpf" ).on( "keyup", function() {
            var masks = ['000.000.000-00?0', '00.000.000/0000-00'];
            var cpf = $( this ).val().replace(/[^\d]+/g,'');
            //console.log('cpf: '+cpf);
            mask= (cpf.length > 11) ? masks[1] : masks[0];
            $('#cpf').mask(mask);
        });

        $( "#cpf2" ).on( "keyup", function() {
            var masks = ['000.000.000-00?0', '00.000.000/0000-00'];
            var cpf = $( this ).val().replace(/[^\d]+/g,'');
            //console.log('cpf: '+cpf);
            mask= (cpf.length > 11) ? masks[1] : masks[0];
            $('#cpf2').mask(mask);
        });

        $( "#cpf_boleto" ).on( "keyup", function() {
            var masks_boleto = ['000.000.000-00?0', '00.000.000/0000-00'];
            var cpf_boleto = $( this ).val().replace(/[^\d]+/g,'');
            //console.log('cpf_boleto: '+cpf_boleto);
            mask_boleto = (cpf_boleto.length > 11) ? masks_boleto[1] : masks_boleto[0];
            $('#cpf_boleto').mask(mask_boleto);
        });

        $( "#cpf_boleto" ).keyup();
        $( "#cpf" ).keyup();
        $( "#cpf2" ).keyup();
        //$('#cpf').mask('99999999999?999');
        //$('#cpf_boleto').mask('99999999999?999');

    });

    jQuery(function($) {
        $('.ccic-cvv').hover(
            function () {
                $("#aviso_cartao").html("{{ text_cvv }}");
            },
            function () {
                $("#aviso_cartao").html("");
            }
        );

        $('#payment-form').submit(function(evt) {
            Iugu.setAccountID("{{ iugu_id }}");
            Iugu.setTestMode({{ iugu_teste }});
            var form = $(this);
            var tokenResponseHandler = function(data) {
                if (data.errors) {
                    //console.log(data.errors);
                    $("#aviso_cartao").html("{{ text_cartao_invalido }}");
                } else {
                    $("#token").val(data.id);
                    $("#button-confirm").button('loading');
                    $.ajax({
                        'type': 'POST',
                        contentType :'application/x-www-form-urlencoded; charset=utf-8',
                        dataType: 'json',
                        cache: false,
                        timeout: 35000,
                        url: 'index.php?route=extension/payment/code_iugu/confirm',
                        data: $('#payment-form').serialize()+ '&' + $.param({'novo_cartao' : 1}),
                        success: function(data) {
                            if (data.error == 6) {
                                $("#aviso_pagamento").html("<div class='alert alert-warning'>Informe o CPF ou CNPJ válido do Titular do Cartão<button type='button' class='close' data-dismiss='alert'>×</button></div>");
                                $("#button-confirm").button('reset');
                            }
                            else if (data.error ==  5) {
                                $("#aviso_pagamento").html("{{ text_erro_pagamento }}");
                                $("#button-confirm").button('reset');
                            } else {
                                window.location = data.location;
                                //console.log('Pagamento por Cartão ' + data);
                            }
                        },
                        error: function(){
                            $("#aviso_pagamento").html("{{ text_erro_pagamento }}");
                            $("#button-confirm").button('reset');
                        }
                    });
                }
            }
            Iugu.createPaymentToken(this, tokenResponseHandler);
            return false;
        });
    });
</script>